html,body,#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1280px;
    overflow-x: hidden;
}
.el-menu-item-group .el-menu-item-group__title{
    display: none;
}
.el-menu{
    border-right: 0!important;
}
.el-breadcrumb {
    margin-bottom: 20px;
  }
  .ql-editor{
    min-height: 200px;
  }